body {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#value {

    width: 20vh;
    height: 20vh;
    background-color: rgb(0, 255, 255);
    text-align: center;
    font-size: 60px;
    border-radius: 10px;
}

#value::placeholder {
    
    text-align: center;
    opacity: 10;
    font-size: 18px;
}

#botaoMenos {

width: 8vh;
height: 8vh;
margin-right: 15px;
border-radius: 10px;

}

#botaoMais {

width: 8vh;
height: 8vh;
margin-left: 15px;  
border-radius: 10px;  

}

button {

    font-size: 40px;

}